<div class="title">
    <h1>Ver Mascota</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="mascota != null" class="container">
    <mat-card class="card">
        <mat-card-title>{{mascota.nombre}}</mat-card-title>
        <mat-card-content>
            <p><strong>Especie: </strong>{{mascota.especie}}</p>
            <p><strong>Raza: </strong>{{mascota.raza}}</p>
            <p><strong>Fecha de nacimiento: </strong>{{mascota.fechaNacimiento}}</p>
            <p><strong>Dueño identificacion: </strong>{{mascota.idDueno}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listaMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
