<div class="title">
    <h1>Ver Mascota</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Example</mat-card-title>
        <mat-card-content>
            <p><strong>Especie: </strong>ejemploEspecie</p>
            <p><strong>Raza: </strong>ejemploRaza</p>
            <p><strong>Fecha de nacimiento: </strong>ejemploNacimiento</p>
            <p><strong>Dueño identificacion: </strong>ejemploDueño</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listaMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
