table {
    width: 100%;
  }

  td, th {
    width: 15%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .delete {
    cursor: pointer;
    color: #e84e2f;
  }

  .search {
    cursor: pointer;
  }

  .edit {
    cursor: pointer;
    color:aqua;
  }

  .agregar {
    font-size: 12px;
    line-height: 26px;
  }
  