table {
    width: 100%;
  }

  .title{
    padding:40px;
    background-color: royalblue;
    text-align: center;
    color: white;
  }

  .container{
    margin: 0 20%;
  }

  td, th {
    width: 15%;
  }