/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title{
  padding:40px;
  background-color: #494a49;
  text-align: center;
  color: white;
}

.container{
  margin: 5% 20%;
  background-color: #494a49;
  color: rgb(215, 215, 215)
}

.card {
  align-items: center;
  text-align: center;
  color: rgb(215, 215, 215);
}